.heading-primary {
  font-size: 8rem;
  font-family: "Satoshi";
  line-height: 1;
  font-weight: 900;
}
.secondary-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.5;

  transition: all 0.2s;
  display: inline-block;
}

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;

  transition: all 0.1s;
}

p {
  font-size: 1.6rem;

  font-weight: 400;
  hyphens: auto;
}
