.service__page {
  padding: 2rem 5rem 7rem;
  background-color: $color-bg;
  text-align: center;
  margin-bottom: 3rem;

  @include respond(tab-port) {
    margin-bottom: 6rem;
  }

  .service {
    @include respond(tab-port) {
      padding: 30rem 0 20rem;

      width: 100%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__button {
      width: 100%;
      margin: 0 auto;

      .active {
        background-color:$color-primary;
      }
    }
  }

  .secondary-heading {
    color: $color-white;
    @include respond(tab-port) {
      font-size: 6rem;
    }
  }

  @include respond(tab-port) {
    height: 65vh;
    padding: 10rem 0 0;
  }
}

.content {
  &__detail {
    text-align: left;

    .button {
      background-color: $color-primary;
      transition: all 0.2s;
    }

    .button-1{
      display: block;
      width: 40%;
    }
  }
  &__text {
    color: $color-white-1;
  }
}

.row {
  width: 85%;
  margin: 0 auto;
  @include respond(tab-port) {
    width: 100%;
  }
}
