.service__page {
  padding: 7rem 5rem ;
  background-color: $color-bg;
  text-align: center;
  margin-bottom: 3rem;

  .service {
    &__button {
      

      .button {
        @include respond(tab-port) {
          font-size: 1.6rem;
        }
      }

      .active {
        background-color: $color-primary;
        @include respond(tab-port) {
          font-size: 2rem;
        }
      }
    }
    @include respond(tab-port) {
    }
  }

  .secondary-heading {
    color: $color-white;
    @include respond(tab-port) {
      font-size: 6rem;
    }
  }

  @include respond(tab-port) {
    height: 65vh;
    padding: 15rem .5rem 25rem;
    margin-bottom: 6rem;
  }
}

.content {
  &__detail {
    text-align: left;
    @include respond(tab-port) {
      height: 50rem;
    }

    .button {
      background-color: $color-primary;
      transition: all 0.2s;
      @include respond(tab-port) {
        font-size: 1.9rem;
      }
    }

    .button-1 {
      display: block;
      width: 50%;
      margin-left: -2rem;
      @include respond(tab-port) {
        font-size: 1.7rem;
      }
    }
  }
  &__text {
    color: $color-white-1;
    @include respond(tab-port) {
      font-size: 3rem;
    }
  }
  &__image {
    @include respond(tab-port) {
      height: 30rem;
    }
  }
}

.row {
  width: 85%;
  margin:auto;
  @include respond(tab-port) {
    width: 90%;
    flex-direction: column;
    gap: 5rem;
  }
}
