// @tailwind base;
// @tailwind components;
// @tailwind utilities;
.home {
  background-color: $color-primary;

  &__hero {
    height: 75vh;

    padding: 10rem 4rem 4rem;

    .main-1 {
      width: 45%;
      margin: auto;
    }
  }
}

.about__section {
  background-color: $color-bg;
  padding: 10rem 5rem 5rem;
  margin-top: 2rem;
  text-align: center;
  position: relative;
  height: 24rem;
  border-radius: 3rem;

  .about {
    border-radius: 50%;
    background-color: $color-primary;
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    padding: 8rem;
    width: 30%;
  }
}

.service__section__home {
  margin-top: -3rem;
  position: relative;

  padding: 10rem 0 7.9rem;
  background-color: $color-bg;

  .service__home {
    text-align: center;
    width: 65%;
    margin: auto;
    .secondary-heading {
      color: $color-primary;
    }
  }

  .accordion {
    border: 1px solid $color-white-1;
    border-radius: 1rem;
    padding: 5rem 6rem;

    .accordion-button {
      width: 97.6%;
    }
    &-item {
      background-color: $color-bg;
      border: none;
      padding: 1rem 0;
      text-align: left;

      border-top: 1px solid $color-white-1;
      border-bottom: 1px solid $color-white-1;

      &:not(:first-child):not(:last-child) {
        border: none;
      }

      .button-1 {
        width: 25%;
        padding: 0;
      }
    }

    &-button {
      background-color: $color-bg;
      color: $color-white;
      font-size: 1.7rem;
      font-weight: 500;

      &:hover,
      &:active {
        border-color: black;
        box-shadow: none;
        border: none;
        color: $color-primary;
      }

      &.collapsed {
        box-shadow: none;
      }

      &:not(.collapsed) {
        box-shadow: none;
      }

      &:not(.collapsed)::after {
        background-image: url("../../imgs/icons8-minus-48\ \(1\).png");
      }

      &.collapsed::after {
        background-image: url("../../imgs/icons8-plus-48.png");
      }
    }

    &-body {
      color: $color-primary;
      background-color: $color-bg;
      border: none !important;

      text-align: left;
      padding: 1rem 0;
      font-size: 1.4rem;
    }
  }
}

.testimonial__section {
  background-color: $color-bg;
  text-align: center;
  padding-bottom: 5rem;
  .disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
      background: transparent; /* Chrome/Safari/Webkit */
      width: 0px;
    }
  }

  .secondary-heading {
    color: $color-primary;
  }

  .testimonial__box {
    display: flex;
    overflow-x: scroll;

    scroll-snap-type: x mandatory;
    margin-left: 15rem;
    gap: 1.2rem;

    border-radius: 1rem;

    .testimonial__box::-webkit-scrollbar {
      display: none;
    }

    .item {
      flex: 0 0 40%;
      border-radius: 1rem;
      background-image: linear-gradient(
        to bottom right,
        rgb(218, 72, 186) 40%,
        rgb(137, 91, 221)
      );
      text-align: left;
      padding: 2.4rem;

      scroll-snap-align: start;

      .button-1 {
        display: inline-block;
        text-decoration: underline;
        font-size: 1.2rem;
      }
    }
  }
}
